.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    gap: 32px;
    margin: 64px 64px;
}

.input {
    padding: 0px 8px;
    flex-grow: 1;
    height: 100%;
    border: 2px solid hsl(0, 0%, 90%);
    border-radius: 6px;
    font-family: var(--font);
}

.form {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
    border-radius: 2px;
}