.main {
    display: flex;
    flex-direction: column;
    padding: 32px 64px;
    gap: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.form button {
    all: unset;
    background-color: var(--pmryColor);
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    color: white;
    font-weight: bold;
    border-top: 2px rgb(252, 179, 255) solid;
    border-left: 2px rgb(252, 179, 255) solid;
    border-right: 2px rgb(108, 0, 112) solid;
    border-bottom: 2px rgb(108, 0, 112) solid;
}

.form button:active {
    border-top: 2px rgb(108, 0, 112) solid;
    border-left: 2px rgb(108, 0, 112) solid;
    border-right: 2px rgb(252, 179, 255) solid;
    border-bottom: 2px rgb(252, 179, 255) solid;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
}

.textLabel {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: bold;
}

.textLabel input {
    height: 30px;
    border-radius: 4px;
    padding: 0px 4px;
    font-size: 16px;
    font-family: var(--font);
}

.meme {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meme>img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

.meme span {
    position: absolute;
    text-align: center;
    margin-block: 15px;
    padding-inline: 5px;
    font-family: impact, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}